/* css reset begin */
body, p, h1, h2, h3, ul, ol, dl, dd, input, select, textarea { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
img { border: none; vertical-align: top; }
input, textarea { outline: none; -webkit-appearance: none; }
/* css reset end */

/* public begin */
.clearfix { zoom: 1; }
.clearfix:after { display: block; content: ''; clear: both; }
.fl { float: left; }
.fr { float: right; }
body, html { width: 100%; height: 100%; overflow: hidden; }
body { font-size: 14px; font-family: "微软雅黑",arial; }
/* public end */

.container-wrapper { width: 100%; height: 100%; position: relative; left: 0; top: 0; background: rgba(0,0,0,.6); }
.container-wrapper .zIndex { z-index: 6; }

/* loading begin */
#loading { width: 100%; height: 100%; background: #fff; position: absolute; left: 0; top: 0; z-index: 9999; }
#loading img { position: absolute; width: 80px; height: 80px; top: 50%; margin-top: -40px; left: 50%; margin-left: -40px; }
/* loading end */

.section { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 5; display: none; }
/* section01 begin */
.section01 { background: #fff; display: block; }
.section01 .logo { width: 56%; margin: 0 auto; position: absolute; top: 40%; left: 22%; }
.section01 .logo img { width: 100%; }
/* section01 end */

/* section02 begin */
.section02 { background: url(../imgs/section_02_bg.jpg) no-repeat #fff; background-size: cover; }
.section02 .content { width: 60%; position: absolute; left: 20%; top: -200%; }
.section02 .content img { width: 100%; }
/* section02 end */

/* section03 begin */
.section03 { background: url(../imgs/section_03_bg.jpg) no-repeat #fff; background-size: cover;  }
.section03 .title { width: 26%; position: absolute; right: 4%; top: -200%; }
.section03 .title img { width: 100%; }
/* section03 end */

/* section04 begin */
.section04 { background: url(../imgs/section_04_bg.jpg) no-repeat #fff; background-size: cover;  }
.section04 .title { width: 26%; position: absolute; right: 4%; top: 5%; }
.section04 .title img { width: 100%; }
.section04 .content { width: 61%; position: absolute; left: 5%; top: 200%; }
.section04 .content img { width: 100%; }
.section04 .circle { width: 38%; position: absolute; right: 2%; top: 50%; opacity: 0; }
.section04 .circle img { width: 100%; }
/* section04 end */

/* section05 begin */
.section05 { background: url(../imgs/section_05_bg.jpg) no-repeat #fff; background-size: cover;  }
.section05 .title { width: 30%; position: absolute; left: 16%; top: 32%; }
.section05 .title img { width: 100%; }
.section05 .circle { width: 38%; position: absolute; left: 8%; top: 42%; opacity: 0; }
.section05 .circle img { width: 100%; }
.section05 .info { width: 100%; position: absolute; left: 0; bottom: -200%; }
.section05 .info img { width: 100%; }
/* section05 end */

/* section06 begin */
.section06 { background: url(../imgs/section_06_bg.png) no-repeat top left #fff; background-size: 100% 100%; }
.section06 .code { height: 38px; line-height: 38px; font-size: 14px; color: #0e2f8f; width: 50%; position: absolute; bottom: 33%; right: 10%; }
/* section06 end */

/* section07 begin */
.section07 { background: url(../imgs/section_07_bg.jpg) no-repeat #fff; background-size: cover;  }
.section07 .title { width: 37%; position: absolute; right: 10%; top: 5%; }
.section07 .title img { width: 100%; }
.section07 .content { width: 30%; position: absolute; left: 15%; top: 20%; }
.section07 .content img { width: 100%; }
.section07 .button { width: 30%; display: block; position: absolute; left: 35%; bottom: 4%; border-radius: 50%; overflow: hidden; opacity: 0; }
.section07 .button img { width: 100%; }
#code-share { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.90); position: absolute; top: 0; left: 0; z-index: 999; display: none; }
#code-share div { width: 60%; margin: 40% auto 0; }
#code-share div img { width: 100%; }
#code-share p { text-align: center; margin-top: 10px; color: #fff; }
#code-share .close { position: absolute; top: .5rem; left: .5rem; line-height: 2rem; font-size: 3rem; font-style: normal; color: #fff; }
/* section07 end */

/* section08 begin */
.section08 { background: url(../imgs/section_08_bg.png) no-repeat #fff; background-size: cover;  }
.section08 .title { width: 82%; position: absolute; left: 9%; bottom: 40%; }
.section08 .title img { width: 100%; }
.section08 .logo { width: 42%; position: absolute; left: 29%; bottom: 4%; }
.section08 .logo img { width: 100%; }
/* section08 end */

/* arrow-up begin */
.arrow-up { position: absolute; z-index: 999; left: 0; right: 0; text-align: center; -webkit-animation: pageUp 1.5s both infinite; animation: pageUp 1.5s both infinite; }
@-webkit-keyframes pageUp{
    from{
        bottom: 5px;
        opacity: 0;
    }
    to{
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes pageUp{
    from{
        bottom: 5px;
        opacity: 0;
    }
    to{
        bottom: 30px;
        opacity: 1;
    }
}
/* arrow-up end */

/* 竖屏检测 begin */
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; background: #000; z-index: 9999; }
.mol_content { position: absolute; width: 100%; top: 45%; text-align: center; }
.mol_desc { margin-top: 20px; font-size: 15px; color: #fff; }
/* 竖屏检测 end */